.modal_window {
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: white;
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 30px;
    border-radius: 30px;
    background: hsl(348deg 99% 62%);
    position: relative;
}
.modal_window_edit {
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: black;
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding: 30px;
    border-radius: 30px;
    background: white;
    position: relative;
}
.modal_window svg {
    cursor: pointer;
    width: 30px;
    position: absolute;
    top: 5px;
    right: 7px;
}
.title_name {
    text-align: center;
}
.form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.edit {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.input::placeholder {
    color: white;
    padding: 5px 25px 5px 5px;
    border-radius: 20px;
}
.edit input {
    border-radius: 20px;
    border: 1px solid hsl(348deg 99% 62%);
    color: hsl(348deg 99% 62%);
    padding: 15px;
    border-radius: 20px;
}
.submit_btn {
    background: green;
    padding: 10px 20px;
    color: hsl(0deg 0% 100%);
    text-align: center;
    /*border-radius: 10px;*/
    transition: all ease-in-out .5s;
}
.delete_btn {
    background: red;
    padding: 10px 10px;
    color: hsl(0deg 0% 100%);
    text-align: center;
    /*border-radius: 10px;*/
    transition: all ease-in-out .5s;
}
.input {
    background: white;
    color: hsl(348deg 99% 62%);
    padding: 15px;
    border-radius: 20px;
}
.edit p {
    font-weight: 500;
    font-size: 18px;
    line-height: 8px;
    letter-spacing: 1.5px;
    text-transform: lowercase;
}