.model {
    max-width: 35rem;
    width: 100%;
    padding: 20px 40px;
    /*border-radius: 0.8rem;*/
    border-color: hsl(348deg 99% 62%);
    color: hsl(348deg 99% 62%);
    background: #343a40;
    gap: 10px;
    display: flex;
    text-align: left;
    flex-direction: column;
    cursor: pointer;
    transition: all ease-in-out .5s;
    position: relative;
}
.title_model {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    letter-spacing: 1.5px;
}
.edit_block {
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    gap: 60px;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    color: hsl(0deg 0% 74%);
    max-width: 700px;
}
.edit_btn {
    padding: 10px 20px;
    color: hsl(0deg 0% 100%);
    text-align: center;
    border: 1px solid hsl(0deg 0% 84%);
    border-radius: 10px;
    text-transform: lowercase;
}
.model_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.id_number {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1.5px;
}
.model p {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 1.5px;
}
.empty_model {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    letter-spacing: 1.5px;
}
.model .delete {
    position: absolute;
    width: 30px;
    top: 16px;
    right: 10px;
    cursor: pointer;
}
.model .edit{
    position: absolute;
    width: 30px;
    top: 56px;
    right: 10px;
    cursor: pointer;
}